/* your own css */

.centered-text {
	text-align: center;
}

.add-review-cancel {
	margin: 0 2rem;
}

.profile-section {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
	margin: 2rem 0;
}

.invite-section {
	margin-bottom: 2rem;
}

.invites-area {
	display: block;
    width: 100%;
    min-height: 7rem;
    resize: vertical;
    padding: 0.5rem 1rem;
}

.generate-btn {
	margin-top: 1rem;
}

.review-summary-contents {
	margin-bottom: 1rem;
}

.simple-titled-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5rem;
}

.simple-titled-page h1, h2, h3 {
	color: var(--background-color);
}

.main-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 0;
	background: white;
}

.image-upload {
	display: flex;
	align-items: center;
}

.image-upload-thumbnail {
	max-height: 4rem;
	max-width: 4rem;
	border: 1px solid var(--background-color);
	margin-left: 1rem;
}